<section class="course-body">
  <!-- first course header  -->
  <div class="container">
    <div class="course-holder">
      <div class="check">
      </div>
      <h1 class="header">
        courses</h1>

      <div class="courses-container">
        <div class="content-holder">
          <div class="content-image">
            <%= image_tag("logo/computer_f.png" ,class: "image" ) %>
          </div>
          <div class="content-body">

            <h3 class="content-title">
              COMPUTER FUNDAMENTALS
            </h3>
            <p class="content-text">
              Computer fundamentals tutorial provides basic and advanced
              concepts of Bootstrap. Our Computer fundamentals is designed for
              beginners and professionals. Computer is an electronic device
              i.e. used to work with information or compute. It is derived from
              the Latin word "computare" which means to calculate.
            </p>

            <button class="btn btn-outline-dark">
              Learn !!</button>
          </div>
          
        </div>
      </div>
    </div>
  </div>
    <!-- first course header ends -->

    <h3 class="courses-head">
      Choose a course to learn

    </h3>

    <!-- courses list  -->
    <div class="courses-list">


      <div class="courses-list-card">
        <span class=" background"></span>
        <div class="card-list-title">
          
          <h1 class="list-title">
          Lessons
          </h1>
          
          <div class="chapter_number">
            
            <p>29</p>
            <i class='bx bxs-book-alt'></i>
          </div>
          
        </div>
        <div class="list-body">
          <!-- <span class="background t"></span> -->
          <%= image_tag("logo/html.png" ,class: "course-img" ) %>
        </div>


      </div>



      <div class="courses-list-card">

        <span class=" background"></span>
        <div class="card-list-title">
          <h1 class="list-title">
            CSS 
          </h1>

          <div class="chapter_number">

            <p>29</p>
            <i class='bx bxs-book-alt'></i>
          </div>

        </div>
        <div class="list-body">

        </div>


      </div>






      <div class="courses-list-card">

        <span class=" background"></span>
        
        <div class="card-list-title">
          <h1 class="list-title">
            JS
          </h1>

          <div class="chapter_number">

            <p>29</p>
            <i class='bx bxs-book-alt'></i>
          </div>

        </div>
        <div class="list-body">

        </div>


      </div>


      <div class="courses-list-card">

        <span class=" background"></span>
        
        <div class="card-list-title">
          <h1 class="list-title">
            HTML
          </h1>

          <div class="chapter_number">

            <p>29</p>
            <i class='bx bxs-book-alt'></i>
          </div>

        </div>
        <div class="list-body">

        </div>


      </div>
      <div class="courses-list-card">

        <span class=" background"></span>
        <div class="card-list-title">
          <h1 class="list-title">
            HTML
          </h1>

          <div class="chapter_number">

            <p>29</p>
            <i class='bx bxs-book-alt'></i>
          </div>

        </div>
        <div class="list-body">

        </div>


      </div>


     



</div>

    <!-- courses list ends  -->


  
</section>