            @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Edu+VIC+WA+NT+Beginner:wght@400;700&family=Sora:wght@100;200;300;600;700&display=swap');
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: 'Amatic SC', cursive;
                list-style: none;
            }
            
             :root {
                --primary: #FFA500;
                --text: white;
                --bg-text: black;
                --black: black;
                --white: white;
                --blue: #ADD8E6;
            }
            
            html {
                scroll-behavior: smooth;
            }
            
            .pageload {
                width: 100%;
                height: 100vh;
                background-color: black;
                position: fixed;
                z-index: 100;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
            }
            
            .pageload h1 {
                font-size: 5em;
            }
            /* navbar --------------------------------------------------------------------> */
            
            .navbar.bg {
                position: fixed;
                z-index: 80;
            }
            
            .navbar.bg h1 {
                color: black;
                font-size: 3em;
            }
            
            .offcanvas-body {
                background-color: var(--primary);
            }
            
            .offcanvas-title {
                font-size: 2em;
            }
            
            .offcanvas-body ul li a {
                color: var(--text);
                font-size: 1.8em;
                font-style: bold;
                font-weight: 700;
            }
            
            .Close {
                border: none;
                font-size: 2em;
                background-color: white;
                transition: 1s;
                height: 50px;
                width: 50px;
                text-align: center;
            }
            
            .Menu {
                background-color: transparent;
                border: none;
                font-size: 3em;
                z-index: 20;
                position: fixed;
                left: 88%;
            }
            /* navbar -------------------------------------------------------------------->*/
            
            .container-bg {
                background-color: red;
                width: 100%;
                position: fixed;
                display: flex;
                top: 0;
                left: 0;
                z-index: 20;
            }
            
            .container-bg section {
                background-color: var(--white);
                color: black;
                font-size: 3em;
                min-width: 100%;
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 40;
            }
            /* social box ----------------------------------------------------------------------------*/
            
            .social {
                position: fixed;
                bottom: 0;
                height: 50px;
                width: auto;
                margin-bottom: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 50;
            }
            
            .social-box {
                display: flex;
                justify-content: space-between;
                align-items: center;
                z-index: 100;
            }
            
            .social-box li {
                display: flex;
                height: 40px;
                width: 40px;
                border-radius: 20px;
                margin: 2px 10px;
                align-items: center;
                justify-content: center;
                border: 1px solid black;
                transition: all ease-in-out 0.3s;
                background-color: var(--black);
                animation: float 5s ease-in-out infinite;
            }
            
            .social-box li:hover {
                background-color: var(--black);
                transform: translateY(-5px);
                transition: all ease-in-out 0.3s;
            }
            
            .social-box li:hover a {
                color: var(--primary);
            }
            
            .social-box li a {
                font-size: 1.5rem;
                color: var(--blue);
            }
            
            .rod {
                border: 3px solid var(--black);
                width: 250px;
                z-index: 20;
                position: fixed;
                margin-bottom: 20px;
                left: 0;
                animation: fill 5s ease-in-out infinite;
            }
            /* social box ----------------------------------------------------------------------------*/
            /* circle older ------------------------------------------------------------------------------------*/
            
            .cir-holder {
                display: flex;
                background-color: var(--primary);
                height: 100vh;
                width: 100vw;
                position: absolute;
                margin-top: 50px;
            }
            
            .cir-holder :nth-child(1) {
                position: absolute;
                top: 20%;
                left: 25%;
                height: 100px;
                width: 100px;
            }
            
            .cir-holder :nth-child(2) {
                position: absolute;
                top: 10%;
                left: 20%;
                height: 100px;
                width: 100px;
            }
            
            .cir-holder :nth-child(3) {
                position: absolute;
                top: 40%;
                left: 10%;
                height: 200px;
                width: 200px;
            }
            
            .cir-holder :nth-child(4) {
                position: absolute;
                top: 30%;
                left: 20%;
                height: 50px;
                width: 50px;
            }
            
            .cir-holder :nth-child(5) {
                position: absolute;
                top: 40%;
                left: 25%;
                height: 50px;
                width: 50px;
                padding: 0%;
                margin: 0%;
            }
            
            .cir-holder :nth-child(6) {
                position: absolute;
                top: 70%;
                left: 9%;
                height: 20px;
                width: 20px;
                padding: 0%;
                margin: 0%;
            }
            
            .cir-holder :nth-child(7) {
                position: absolute;
                top: 40%;
                left: 1%;
                height: 90px;
                width: 90px;
                padding: 0%;
                margin: 0%;
            }
            
            .cir-holder :nth-child(8) {
                position: absolute;
            }
            
            .cir {
                float: left;
                width: 300px;
                height: 300px;
                margin: 20px;
                shape-outside: circle();
                clip-path: circle();
                background: radial-gradient(circle at 50px 50px, white, #ADD8E6);
                color: black;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.4em;
                padding: 2%;
                text-transform: uppercase;
                animation: bubble 5s ease-out infinite;
            }
            
            .holder-m {
                display: flex;
                background: var(--primary);
                z-index: 20;
                height: 100vh;
            }
            
            .img-me {
                /* overflow-x: hidden; */
                height: 400px;
                width: 400px;
                position: absolute;
                top: 20%;
                left: 70%;
                box-shadow: 0px 0px 0px black;
                display: flex;
                justify-content: center;
                background-color: var(--blue);
                z-index: 12;
                /* border-radius: 50%; */
            }
            
            .back-line {
                position: absolute;
                left: -130%;
                width: 700px;
                background-color: var(--blue);
                z-index: 11;
                bottom: 0;
                height: 80px;
                font-size: 2em;
                align-items: center;
            }
            
            .back-line.two {
                background-color: black;
                z-index: 10;
                bottom: -30px;
                width: 900px;
                left: -120%;
            }
            
            .img-me img {
                height: 400px;
                width: auto;
                z-index: 12;
                /* filter: saturate(); */
            }
            
            .big-text {
                font-size: 10em;
                position: absolute;
                /* writing-mode: vertical-rl; */
                text-orientation: sideways-right;
                left: 50%;
                top: 20%;
                /* transform: translateY(-50%);
                transform: translateX(50%); */
                z-index: 12;
            }
            
            .big-text span {
                position: relative;
                top: 20%;
                word-wrap: normal;
                margin-top: -40px;
                /* text-orientation: sideways-right; */
            }
            
            .scroll-key {
                position: fixed;
                font-size: 3rem;
                bottom: 0;
                left: 50%;
                z-index: 100;
                margin-bottom: 20px;
                animation: bounce 2s ease-in-out;
            }
            /* circle older ------------------------------------------------------------------*/
            
            @media (max-width: 900px) {
                .container-bg {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    transform: none !important;
                }
                .space-filler {
                    display: none;
                }
                .navbar.bg {
                    background-color: white;
                    width: 100%;
                    top: 0;
                    left: 0;
                    color: black;
                    animation: none;
                }
            }
            
            @keyframes float {
                0% {
                    transform: translateX(0);
                }
                50% {
                    transform: translateX(15PX);
                }
                100% {
                    transform: translateX(0);
                }
            }
            
            @keyframes fill {
                0% {
                    width: 0;
                }
                25% {
                    width: 150px;
                }
                50% {
                    width: 250px;
                }
                75% {
                    width: 150px;
                }
                100% {
                    width: 0px;
                }
            }
            
            @keyframes bubble {
                0% {
                    transform: scale(1);
                }
                20% {
                    transform: scaleY(0.95) scaleX(1.05);
                }
                48% {
                    transform: scaleY(1.1) scaleX(0.9);
                }
                68% {
                    transform: scaleY(0.98) scaleX(1.02);
                }
                80% {
                    transform: scaleY(1.02) scaleX(0.98);
                }
                97%,
                100% {
                    transform: scale(1);
                }
            }
            
            @keyframes bounce {
                0% {
                    transform: scale(1, 1) translateY(0);
                }
                10% {
                    transform: scale(1.1, .9) translateY(0);
                }
                30% {
                    transform: scale(.9, 1.1) translateY(-40px);
                }
                50% {
                    transform: scale(1.05, .95) translateY(0);
                }
                57% {
                    transform: scale(1, 1) translateY(-7px);
                }
                64% {
                    transform: scale(1, 1) translateY(0);
                }
                100% {
                    transform: scale(1, 1) translateY(0);
                }
            }