<div class="container">
  <h1>
about
  </h1>


  <p class="codepen" data-height="300" data-default-tab="html,result" data-slug-hash="DZNOpb" data-user="patrikhjelm" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
  <span>See the Pen <a href="https://codepen.io/patrikhjelm/pen/DZNOpb">
  CSS loading animation</a> by Patrik Hjelm (<a href="https://codepen.io/patrikhjelm">@patrikhjelm</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>


<iframe height="300" style="width: 100%;" scrolling="no" title="CSS3 Loading animations" src="https://codepen.io/Manoz/embed/preview/kyWvQw?default-tab=html%2Cresult&editable=true&theme-id=light" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
  See the Pen <a href="https://codepen.io/Manoz/pen/kyWvQw">
  CSS3 Loading animations</a> by Manoz (<a href="https://codepen.io/Manoz">@Manoz</a>)
  on <a href="https://codepen.io">CodePen</a>.
</iframe>

</div>
