<%# main page starts %>
<div class="holder-two">
  <div class="container">
    <div class="text-header">
      <h1>Your Career in Web Development Starts Here 
      </h1>
        <%= image_tag("bookboy.png" ,class: "bookboy") %>
    </div>
    <%# <div class="text-body-2">
    </div> %>
  </div>
</div>
<%# main page ends  %>
<%# secion one  starts%>
<section class="second-body">
  <div class="container">
    <div class="second-text">
      <h1>Why <span>KODO</span> ?</h1>
      <p>
        This is the website we wish we had when 
        we were learning on our own. We scour the
        internet looking for only the best resources
        to supplement your learning and present them 
        in a logical order.
      </p>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">LEARN  </h5>
            <p class="card-text">Learn from a curriculum with the best curated online examples, blogs, and courses</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">IMPLEMENT</h5>
            <p class="card-text">Implementing things which you learned will clear your self doubts and give you a new lesson .</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 bo">
          <div class="card-body">
            <h5 class="card-title">TRY AGAIN</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%# section one ends %>
<%# section two starts %>
<section class="third">
  <h3>Learn everything you need to know about web Development </h3>
  <div class="container">
    <div class="course-name">
      <div class="card mb-3" >
        <div class="row g-0">
          <%# <div class="col-md-4">
    <%= image_tag("logo/html.png",class:"img-fluid rounded-start")  %>
        </div>
        <div class="col-md-13">
          <div class="card-body">
            <h4 class="card-title">HTML</h4>
            <p class="card-text"> HTML (HyperText Markup Language) is the code that is used to structure a web page and its content. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="course-name">
      <div class="card mb-3">
        <div class="row g-0">
          <%# <div class="col-md-4">
    <%= image_tag("logo/html.png",class:"img-fluid rounded-start")  %>
        </div>
        <div class="col-md-13">
          <div class="card-body">
            <h4 class="card-title">HTML</h4>
            <p class="card-text"> HTML (HyperText Markup Language) is the code that is used to structure a web page and its content. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<%# section two ends %>
<%# footer starts %>
<div id="bm-foot" class="footer-m">
  <div class="box-one">
    <label class=" logo">  <%= image_tag("logo2.png" ,size: '100x50') %> </label>
    <p>
      High quality coding & software education for everyone
    </p>
    <ul class="social-box">
      <li>
        <a href="#"><i class='bx bxl-github'></i></a>
      </li>
      <li>
        <a href="#"><i class='bx bxl-discord-alt' ></i></a>
      </li>
      <li>
        <a href="#"><i class='bx bxl-twitter' ></i></a>
      </li>
      <li>
        <a href="#"><i class='bx bxl-linkedin-square' ></i></a>
      </li>
    </ul>
    <p class="web-design"> web design by Selva</p>
  </div>
  <footer>
    <div class="box-two">
      <h3>Are you bored?</h3>
      <h6>Let's try and learn something new</h6>
      <button class=" btn btn-outline-dark btn-sm">Why not?</button>
    </div>
    <div class="box-three">
      <div class="col-lg">
        <h5 class="text mb-3"> having any question?</h5>
        <p class="small text-muted">send your queries and feedback <br>
          to us and get in touch with us .</p>
        <form action="#">
          <div class="input-group mb-3">
            <input class="form-control" type="text" placeholder="Email" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" id="button-addon2" type="button"><i class='bx bxl-telegram' ></i></button>
          </div>
        </form>
      </div>
    </div>
    <hr>
    <ul class=" menu-footer ">
      <li>
        <a href="# ">| About</a>
      </li>
      <li>
        <a href="# ">| FAQ</a>
      </li>
      <li>
        <a href="# ">| blog</a>
      </li>
      <li>
        <a href="# ">| Terms of use</a>
      </li>
    </ul>
  </footer>
</div>
<%# footer ends  %>
