<div class="container">


    <div class="items-holder">

        <div class="switch-holder">
            <div class="blog title-bc hover-underline-animation" onclick="hidechat()"><i class='bx bx-notepad'></i> Blog</div>
            <%# <div class="chat title-bc hover-underline-animation " onclick="showchat()"><i class='bx bxs-message-alt-dots'></i> Chatroom</div> %>
        </div>
        <div class="blog-chat-holder">
            <hr>
            <div class="blog" id="blog">
                <h1>blog</h1>
            </div>
            <%# <div class="chat" id="chat">
                <h1>chat
                </h1>
            </div> %>
        </div>
        <%= render "render/footer" %>  
    </div>
</div>


<script>
    function showchat(){
        var chat = document.getElementById("chat");
        var blog = document.getElementById("blog");
        chat.classList.remove("chat");
        blog.classList.remove("blog");
        blog.classList.add("blog-swap");
        chat.classList.add("chat-swap");
    }

function hidechat(){
    var chat = document.getElementById("chat");
    var blog = document.getElementById("blog");
        chat.classList.add("chat")
        blog.classList.add("blog");
        blog.classList.remove("blog-swap");
        chat.classList.remove("chat-swap");

}
</script>