    @import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
     :root {
        --primary: #5E3BCD;
        --seond: #AE62E5;
        --light: #F3E9F2;
        --black: #000000;
        --isblack: #150F26;
        --dark: #2C1E59;
        --white: #FFFFFF;
    }
    
    p a {
        text-decoration: none;
        color: var(--primary);
    }
    
    .hon {
        height: 100vh;
        background-color: var(--isblack);
        background-image: url(../images/warrior.jpg);
    }
    /* ==========================================
navbar starts
========================================== */
    
    .navbar {
        background-color: var(--primary);
    }
    
    .logo-text {
        text-decoration: none;
        font-family: 'Permanent Marker', cursive;
        font-size: 2.5em;
        color: var(--light);
        pointer-events: none;
    }
    
    .offcanvas-header {
        background-color: var(--dark);
    }
    
    .offcanvas-title {
        color: var(--light);
        background-color: none;
        border: none;
    }
    
    .Close {
        border: none;
        font-size: 2em;
        color: var(--light);
        background-color: var(--dark);
        transition: 1s;
        height: 50px;
        width: 50px;
        text-align: center;
    }
    
    .Close:hover {
        transform: rotate(180deg);
        transition: 0.5s;
    }
    
    .offcanvas-body {
        background-color: var(--light);
    }
    
    .offcanvas-body a {
        color: var(--dark);
    }
    
    .offcanvas-body a:hover {
        translate: 5px;
        color: var(--primary);
        border-left: 5px solid var(--dark);
        padding-left: 5px;
    }
    
    ul.dropdown-menu {
        background-color: var(--dark);
    }
    
    ul.dropdown-menu a {
        color: var(--light);
        width: 95%;
    }
    
    ul.dropdown-menu a :hover {
        color: var(--dark);
    }
    
    .Menu {
        background-color: var(--primary);
        border: none;
        font-size: 2em;
        z-index: 20;
        color: var(--white);
        /* border-radius: 60px;
    height: 50px;
    width: 50px; */
    }
    /* .Menu:hover {
    box-shadow: 5px 5px 20px var(--isblack);
    border: 2px solid white;
} */
    
    .Menu:hover .ham-icon {
        border-right: 2px solid var(--light);
        border-bottom: 2px solid var(--light);
    }
    
    .Menu:hover .menu-info {
        right: 180px;
        transition: 0.5s;
        display: inline-block;
        opacity: 1;
        color: var(--light);
    }
    
    .menu-info {
        position: absolute;
        text-align: center;
        font-size: 1em;
        z-index: 20;
        opacity: 0;
        transition: 0.5s;
        right: 100px;
        z-index: -1;
    }
    /* ==========================================
navbar ends
========================================== */
    /* ==========================================
head-text-selva-starts
========================================== */
    
    .head-text {
        font-family: 'Londrina Outline', cursive;
        font-size: 80px;
        position: absolute;
        letter-spacing: 1px;
        transition: 1s;
        writing-mode: vertical-rl;
        text-orientation: upright;
        text-align: left;
        margin-left: -20px;
    }
    
    .head-text:hover span::after {
        content: "";
    }
    
    .head-text:hover {
        color: #fff;
        text-shadow: 0 0 10px var(--dark), 0 0 20px var(--primary), 0 0 40px var(--seond), 0 0 80px var(--l), 0 0 160px var(--isblack);
    }
    /* ==========================================
head-text-selva-ends
========================================== */
    /* ==========================================
footer-starts
========================================== */
    
    .line {
        opacity: 0;
        border-bottom: 2px solid red;
        width: 1px;
        transition: 0.5s;
        margin-top: -10px;
    }
    
    .box:hover .line {
        border-bottom: 2px solid var(--light);
        border-right: 2px solid var(--light);
        width: 100%;
        opacity: 1;
    }
    
    .box-Ab:hover .line {
        border-bottom: 2px solid var(--light);
        width: 100%;
        opacity: 1;
    }
    
    .text-small {
        font-size: 0.9rem;
    }
    
    .box {
        list-style: none;
        text-align: left;
    }
    
    .box-Ab {
        list-style: none;
        text-align: left;
    }
    
    .box a {
        text-decoration: none;
        color: var(--white);
    }
    
    .box-Ab a {
        text-decoration: none;
        color: var(--white);
    }
    
    .box a:hover {
        color: var(--light);
    }
    
    .box-Ab a:hover {
        color: var(--primary);
        ;
    }
    
    .form-control {
        background: #212529;
        border-color: #545454;
    }
    
    .form-control:focus {
        background: #212529;
    }
    
    footer {
        background: var(--isblack);
        transition: 1s;
    }
    
    footer:hover {
        background-color: var(--black);
    }
    
    footer:hover .container {
        border-bottom: 1px solid var(--primary);
        border-right: 1px solid var(--primary);
    }
    
    .h1 {
        font-family: 'Permanent Marker', cursive;
    }
    /* ==========================================
footer ends
========================================== */
    /* ==========================================
wave
========================================== */
    
    .ocean {
        position: relative;
        width: 100%;
        height: 100px;
        background-color: var(--white);
        overflow: hidden;
    }
    
    .ocean .wave {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100px;
        background-image: url(../images/wave.png);
        background-color: var(--isblack);
        transform: rotate(180deg);
        background-size: 1000px 100px;
    }
    
    .wave.wave1 {
        animation: waves 30s linear infinite;
        animation-delay: 0s;
        z-index: 100;
        opacity: 0.1;
        bottom: 0;
    }
    
    .wave.wave2 {
        animation: waves 15s linear infinite;
        animation-delay: -2s;
        z-index: 98;
        opacity: 0.7;
    }
    
    .wave.wave3 {
        animation: waves2 3ss linear infinite;
        animation-delay: -5s;
        z-index: 97;
        opacity: 0.5;
    }
    
    .wave.wave4 {
        animation: waves2 15s linear infinite;
        animation-delay: 0s;
        opacity: 1;
        z-index: 96;
        animation-delay: -5s;
    }
    
    @keyframes waves {
        0% {
            background-position-x: 0;
        }
        100% {
            background-position-x: 1000px;
        }
    }
    
    @keyframes waves2 {
        0% {
            background-position-x: 30px;
        }
        100% {
            background-position-x: -1000px;
        }
    }
    /* ==========================================
wave
========================================== */