:root {
    --primary: #006dff;
    --secondary: #1300ff;
    --teritory: #00ecff;
    --bg-btn: #1be391;
    --bg-line: #e31b6d;
    --grey: rgb(84, 82, 82);
    --primary-tm: #5E3BCD;
    --seond: #AE62E5;
    --light: #F3E9F2;
    --black: #000000;
    --isblack: #150F26;
    --dark: #2C1E59;
    --white: #FFFFFF;
}